<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyerpsolution" >
    <!--permissions for INTERNET-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyERPSolution" >
        <activity
            android:name=".Final.PaymnetMethod.PaymentMethods"
            android:exported="true"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar">

        </activity>
        <activity
            android:name="com.example.easyerpsolution.Final.Shipping.ShippingActivity"
            android:exported="true"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.easyerpsolution.Final.Cart.CartMainActivity"
            android:exported="false"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" />
        <activity
            android:name=".Final.ProductDtails.ProductDetails"
            android:exported="false"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" />
        <activity
            android:name=".Final.UserActivites.Coupons.TrackOrder"
            android:exported="false"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" />
        <activity
            android:name=".Final.UserActivites.Coupons.OrderDetails"
            android:exported="false"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" />
        <activity
            android:name=".Final.UserActivites.Coupons.MyOrders"
            android:exported="false"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" />
        <activity
            android:name=".Final.UserActivites.Coupons.PurseActivity"
            android:exported="false"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" />
        <activity
            android:name=".Final.UserActivites.Coupons.CouponsActivity"
            android:exported="false"
            android:label="@string/title_activity_coupons"
            android:theme="@style/Theme.EasyERPSolution.NoActionBar" />
        <activity
            android:name=".Final.Auth.Register.RegisterHere"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Final.Auth.LogIn.LogInActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Final.SplashScreen.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen" > <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Final.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        </activity>
    </application>

</manifest>